* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
	color: #fff;
	text-align: center;
	background-color: #1d1d1d;
}
.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.curr {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}
input {
	width: 200px;
	height: 50px;
	background: #000;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
